header {
    /*font-family: 'Lucida Bright';
    font-size: 20px;
    text-align: start;
    color: blanchedalmond;*/
}

h1 {
    column-span:all;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
}

h2 {
    column-span:all;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

body {
    background: linear-gradient(rgb(116, 16, 111), rgb(26, 57, 97), rgb(25, 25, 92), rgb(6, 17, 6));
}

#imagen {
    align-items: center;
}

#filtros{
    display: flex;
    color: rgb(38, 16, 149);
    justify-content: space-between;
}

#filtros {
    font-family: 'Courier New', Courier, monospace;
}

.imag{
    width: 200px;
    height: 200px;
}

#root{
    display: flex;
}

.ulClass {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.liClass {
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    border-left: 3px solid #000;
    border-radius: 10px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-bottom: 30px;
    margin-right: 30px;
    flex: 1;    
    color: aqua navajowhite;
}

footer {
    flex-direction: row-reverse;
    background-color: #333;
    color: #fff;
    padding: 1px;
    text-align: center;
}